
{{> header}}
<div class="container">
    <h1>Pintores</h1>
    {{#if pintores}}
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <td>ID</td>
                <td>Nombre</td>
                <td>Nacionalidad</td>
                <td>Corriente</td>
                <td>Imagen</td>
            </tr>
        </thead>
        <tbody>
            {{#each pintores}}
            <tr>
                <td>{{_id}}</td>
                <td>{{nombre}}</td>
                <td>{{Nacionalidad}}</td>
                <td>{{Corriente}}</td>
                <td>{{Imagen}}</td> 
            </tr>
            {{/each}}
        </tbody>
        {{else}}
        
    </table>
</div>
